.main-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: -40px;
    align-items: flex-start;
    padding: 16px;
    border: 1px solid #C2C9E8;
    border-radius: 12px;
    background-color: white;
    button{
        & svg>path{
            fill: #211D4F;
        }
        margin-bottom: 10px;
        & :hover{
            & h3{
                color: #455BED;
            }
            & svg> path{
                fill: #455BED;
            }
        }
    }
    &__user{
        margin-bottom: 5px;
        border-bottom: 1px solid #C2C9E8;
        display: flex;
        flex-direction: row;
        width: 100%;
        &--image-container{
            margin-right: 8px;
        }
        &--name-container{
            h3{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
            p{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
            }
        }
        & button{
            display: flex;
            width: 119px;
            height: 20px;
            border: none;
            background-color: transparent;
            width: 100%;
            justify-content:left;
            align-items: center;
            h3{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    &__profile{
        margin-bottom: 5px;
        border-bottom: 1px solid #C2C9E8;
        display: flex;
        flex-direction: column;
        width: 100%;
        & button{
            display: flex;
            width: 119px;
            height: 20px;
            border: none;
            background-color: transparent;
            width: 100%;
            justify-content:left;
            align-items: center;
            h3{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    &__log{
        margin-bottom: 5px;
        border-bottom: 1px solid #C2C9E8;
        display: flex;
        flex-direction: column;
        width: 100%;
        & button{
            display: flex;
            width: 119px;
            height: 20px;
            border: none;
            background-color: transparent;
            width: 100%;
            justify-content:left;
            align-items: center;
            h3{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    &__ppelp{
        display: flex;
        flex-direction: column;
        width: 100%;
        & button{
            display: flex;
            width: 119px;
            height: 20px;
            border: none;
            background-color: transparent;
            width: 100%;
            justify-content:left;
            align-items: center;
            h3{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

}