.search-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: none;
    width: 232px;
    height: 48px;
    border-radius: 8px;
    background: #4263FF;
    color: #FEFEFE;
    text-align: center;
    font-size: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    &:hover{
        background-color: #455BED;
    }
}