<div class="sidebar-socials-container">
    <div class="sidebar-social">
        <a href="#">
            <img src="../../../../assets/sidebar/Instagram-icon.svg" alt="instagram">
        </a>
    </div>
    <div class="sidebar-social">
        <a href="#">
            <img src="../../../../assets/sidebar/Youtube-icon.svg" alt="instagram">
        </a>
    </div>
    <div class="sidebar-social">
        <a href="#">
            <img src="../../../../assets/sidebar/Contact us-icon.svg" alt="instagram">
        </a>
    </div>
</div>