<div class="about-cont">
    <div class="about-header">
        <h2>About The Project</h2>
    </div>
    <div class="about-main">
        <div class="about-main__left">
            <div class="content">
                <div class="content__learning-issues">
                    <h3>Learning issues</h3>
                    <ul>
                        <li>
                            <p>Learning English can be tricky, since people tend to apply word-for-word translation and therefore, oftentimes, fail to understand the speaker and 
                                are likely to face difficulties while trying to express themselves. Avoiding this issue is critical for those learning English for Specific Purposes (ESP) 
                                (i.e. Legal English, Medical, English for Aviation, Business English, etc.) as well as idioms, slang and collocations.
                            </p>
                        </li>
                        <li>
                            <p>
                                Quite often learners find themselves in a situation where an expression translated literally or word-for-word does not make any sense. It has long been 
                                stressed that learning phrases is more useful than learning separate words, as natives tend to use phrases all the time.
                            </p>
                        </li>
                        <li>
                            <p>
                                Another issue that should be addressed is the lack of resources for translating professional terminology, professional jargon, idioms, collocations and 
                                slang into Ukrainian (and vise-versa) as well as lack or absence of resources to practice such vocabulary.  
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="content__our-mission">
                    <h3>Our mission</h3>
                    <p>
                        The Equivalence project aims at helping professionals from different fields learn their ESP and have their personalized vocabulary handy. We also strive for increasing 
                        the amount of high-quality Ukrainian-language content for learning English. 
                    </p>
                    <p>
                        So far, Equivalence focuses only on Legal English, idioms and slang, but eventually we plan to expand to other areas of ESP: IT-English, English for Aviation, 
                        Business English, Medical English, etc.
                    </p>
                    <p class="author"><b>Ivanna Pukman, Initiator Of The Project</b></p>
                </div>
            </div>
        </div>
        <div class="about-main__right">
            <img src="assets/about/english about us picture.svg" alt="English way">
        </div>
    </div>
</div>