<div class="about-main">
    <div class="about-main__left">
        <div class="content">
            <p>While learning English people tend to face the same issue - they are likely to apply word-for-word translation and therefore fail 
                to convey what they actually mean, and at the same time they fail to understand the speaker due to applying the above mentioned 
                technique. Avoiding this issue is critical for those learning English for Specific Purposes (ESP) (i.e. Legal English, Medical 
                English, English for Aviation, Business English, etc.), idioms, slang and collocations. 
            </p>
            <br>
            <p>
                Quite often, learners find themselves in a situation where an expression translated literally or word-for-word does not make any sense; 
                and this is where equivalence is to play its part.<b> It has long been stressed that learning phrases is more useful than learning separate words, 
                as natives tend to use phrases all the time.</b>
            </p>
            <br>
            <p>
                Another issue that should be addressed - lack of resources for translating professional terminology, professional jargon, idioms, collocations and 
                slang into Ukrainian (and vise-versa) as well as lack or absence of resources to practice such vocabulary. 
            </p>
            <br>
            <p>
                The Equivalence project aims at helping professionals from different fields learn their ESP and have their personalized vocabulary handy. We also 
                strive for increasing the amount of high-quality Ukrainian-language content for learning English. 
            </p>
            <br>
            <p>
                So far, Equivalence focuses only on Legal English, idioms and slang, but eventually we plan to expand to other areas of ESP: IT-English, English 
                for Aviation, Business English, Medical English, etc.
            </p>
            <br>
            <p>Ivanna Pukman, Initiator Of The Project </p>
        </div>
    </div>
    <div class="about-main__right">
        <img src="../../../../assets/about/english about us picture.svg" alt="English way">
    </div>
</div>