.category-tile{
    display: flex;
    position: relative;
    width: 342px;
    height: 172px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
    border: 1px solid var(--color-eq-extended-input-strokes-default, #C2C9E8);
    background: var(--color-eq-primary-white-for-bg, #FEFEFE);
}

.comming-soon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 101px;
    height: 28px;
    background: #EDF1F6;
    border-radius: 50px;
    position: absolute;
    top: -14px;
    right: 24px;
}