.header-cont{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    z-index: 3;
    padding: 16px 80px;
    & .nav-left{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

app-nav-language{
    position: relative;
}

.nav-rigth{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 389px;
    height: 48px;
}

.buttonholder{
    display: flex;
}
app-nav-notice{
    margin-right: 1rem;
}
app-nav-user-dropdown{
    position: absolute;
    top: 4rem;
}