<div class="log-in">
    <div class="log-in__left">
        <div class="text-container">
            <div class="text-container__header">
                <img src="../../../assets/log-in/Logo.svg" alt="logo">
            </div>
            <div class="text-container__main">
                <h3 class="benefits">3 reasons why you need a personal account</h3>
                <ul class="benefits-list">
                    <li class="benefits-list__item"><p>Access to three vocabulary groups.</p></li>
                    <li class="benefits-list__item"><p>Access to three exercises groups.</p></li>
                    <li class="benefits-list__item"><p>Ability to personalise your vocabulary and save the terms.</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="log-in__right">
        <app-sign-up></app-sign-up>
    </div>
</div>