.container{
    padding: 0 5rem;
}

app-about-header{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

@media screen and (max-width:1600px) {
    .container{
        padding: 0;
    }
}