.word-def-main{
    margin-top: 24px;
        font-family: 'Rubik', sans-serif;
    &__explanation{
        margin: 8px 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    &__info{
        border: 1px solid #C2C9E8;
        border-radius: 12px;
        padding: 16px;
    }
    &__translation{
        margin: 16px 0;
        display: flex;
        gap: 8px;
        & .flag{

        }
        & .translation{

            &__word{
                & p{
                    border-radius: 32px;
                    background:  #EDF1F6;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    padding: 0 12px;
                }
            }
        }
    }

    &__deffinitions{
        margin: 32px 0;
        & .head{
            margin-bottom: 8px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
        & .defins{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
            & .definition{

            }
        }
    }

    &__examples{
        & .head{
            margin-bottom: 8px;
        }
        & .examples{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
            &__eng{
                & .example{
                    margin: 16px 0;
                }
            }
            &__ukr{
                & .example{
                   margin: 16px 0; 
                }
            }
        }
    }


}