<div class="main-lang-part">
    <div class="main-lang-choose">
        <app-main-language selectedLanguage="eng" changeLanguage="checkChangedLang($event)"></app-main-language>
        <app-main-switch-lang (click)="reverseLanguage()"></app-main-switch-lang>
        <app-main-language selectedLanguage="ua" changeLanguage="checkChangedLang($event)"></app-main-language>  
        <app-main-top-terms></app-main-top-terms>
    </div>
    <div class="main-lang-search">
        <app-main-search></app-main-search>
    </div>
</div>
