<div class="idiomOfTheDay" (mouseenter)="idiomh=true" (mouseleave)="idiomh=false" routerLink="/day-idiom">
    <div class="idiomOfTheDay__image">
        <ng-container *ngIf="!idiomh; else idiom_hover">
            <img [src]='idiom_image+default' alt="button-icon" class="sidebar-button__icon">
        </ng-container>
        <ng-template #idiom_hover>
            <img [src]='idiom_image+hover' alt="button-icon" class="sidebar-button__icon">
        </ng-template>
    </div>
    <h4 class="idiomOfTheDay__title">
        Idiom of the day
    </h4>
    <h3 class="idiomOfTheDay__idiom">
        {{idiom}}
    </h3>
</div>