<div class="under-meintenance">
    <div class="under-meintenance__container">
        <div class="under-meintenance__container--head">
            <img src="assets/under-maintenance/Barbell.svg" alt="sport">
        </div>
        <div class="under-meintenance__container--main">
            <h2>This Page is Under Maintenance</h2>
            <h6>Our small Equivalence team has something special in store for you. We can't wait for you to see it.</h6>
            <p>Please check back soon.</p>
        </div>
        <div class="under-meintenance__container--footer">
            <button routerLink="/">Go to Homepage</button>
        </div>
    </div>
</div>