.under-meintenance{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 48px;
        border-radius: 24px;
        border: 1px solid #A9B4E4;
        background:  #FEFEFE;
        &--head{
            display: flex;
            justify-content: center;
        }
        &--main{
            display: flex;
            flex-direction: column;
            gap: 16px;
            text-align: center;
            & h2{
                color: #455BED;
                font-family: 'Rubik';
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
            }
            & h6{
                font-family: 'Rubik';
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%; 
            }
            & p{
                font-family: 'Lato';
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
            }
        }
        &--footer{
            display: flex;
            justify-content: center;
            & button{
                font-family: 'Lato';
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                border-radius: 8px;
                background: #4263FF;
                color: #FEFEFE;
                border: none;
                padding: 12px 48px;
                cursor: pointer;
                &:hover{
                    background: #455BED;
                }
            }
        }
    }
}