.search{
    display: flex;
    &-input{
        display: flex;
        margin: 0 16px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px 0 18px;
        gap: 233px;
        background: #FEFEFE;
        width: 752px;
        height: 48px;
        border: 1px solid #C2C9E8;
        border-radius: 8px;
        &::placeholder{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: start;
            color: #C2C9E8;
        }
    }
}
.results{
    position: absolute;
    z-index: 5;
}