<form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
  <div>
    <label class="errorLabel" for="username" *ngIf="username?.invalid && (username?.dirty || username?.touched); else normalUL">*Username. This field is required. </label>
    <ng-template #normalUL>
      <label for="username">
             *Username:
      </label>
    </ng-template>
    <input type="text" 
    name="username" 
    placeholder="Anna Helyk"
    formControlName="username">
    <div class="exclamation-holder" *ngIf="username?.invalid && (username?.dirty || username?.touched)">
      <img src="assets/log-in/smthWrong.svg" alt="Exclamation Mark">
    </div>
  </div>
  <div>
    <label class="errorLabel" for="email" *ngIf="email?.invalid && (email?.dirty || email?.touched); else normalE">*Email. Enter a valid and correct email. Check your email.</label>
    <ng-template #normalE>
      <label for="email">*Email:</label>
    </ng-template>
    <input type="email" 
           name="email" 
           placeholder="example@gmail.com"
           formControlName="email">
           <div class="exclamation-holder" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <img src="assets/log-in/smthWrong.svg" alt="Exclamation Mark">
           </div>
  </div>
  <div>
    <div class="labelCurrier" *ngIf="password?.invalid && (password?.touched || password?.dirty); else normalP">
      <label class="errorLabel" for="password" *ngIf="password?.hasError('minlength')">*Create a password. Password should be at least 8 characters long.</label>
      <label class="errorLabel" for="password" *ngIf="password?.errors?.['passwordStrength']">*Create a password. Password should contain numbers, upper and lower case letters.</label>
      <label class="errorLabel" for="password" *ngIf="password?.invalid || password?.hasError('reqired')">*Create a password. Password is required.</label>
    </div>
    <ng-template #normalP>
      <label for="password" >*Create password:</label>
    </ng-template>
    <input type="password" 
           name="password"
           #passwordO
           placeholder="e.g. equiva23"
           formControlName="password"
    >
  </div>
  <div>
    <label for="confirmPassword" *ngIf="(passwordO.value == confirmPassword.value)" else normalCP>*Repeat password:</label>
    <ng-template #normalCP>
      <label class="errorLabel" for="confirmPassword">*Repeat a password. The passwords you entered do not match.</label>
    </ng-template>
    <input type="password" id="confirmPassword" name="confirmPassword" 
    placeholder="e.g. equiva23" required #confirmPassword>
  </div>
  <button type="submit"
  [disabled]="signUpForm.errors">
    Create an account
  </button>
</form>

