.main-categories-part{
    margin-top: 24px;
    height: 60%;
}

.main-language{
    background: #F8F9FD;
    border-radius: 12px;
    margin: 16px;
    padding: 12px 0;
}

@media screen and (max-width:1600px) {
    .main-categories-part{
        margin-top: 20px;
    }
}