@import '../../../../variables.scss'; 

.categories__title{
    padding: 0 24px;
    & h4{
        color:  #211D4F;
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
    }
}

.categories-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0 0 16px;
    gap: 24px;
    height: 90%;
}
