.search-lang-part{
    padding: 24px 16px;
    border-radius: 12px;
    background: #F8F9FD;
    .search-lang-choose{
        margin-bottom: 16px;
        display: flex;
        & > * {
            padding: 0 8px;
        }
        & app-search-language{
            position: relative;
        }
    }
}

@media screen and (max-width: 1600px) {
    .search-lang-part{
        padding: 16px;
    }
    
}